<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.personalCenter.mapper.LoginRegisterMapper">
        <!--查看手机号码是否注册过-->
        <select id="phoneQuery" parameterType="String" resultType="com.commons.entity.UserEntity">
         SELECT * FROM linlihouse.t_user WHERE mob_phone=#{mobphone}
        </select>
        <!--根据手机号添加绑定qqopenid-->
        <update id="updateQopenid" parameterType="String">
       UPDATE linlihouse.t_user SET qopen_id=#{qopenId} WHERE mob_phone=#{mobPhone}
        </update>
       <!--根据手机号添加绑定微信openid-->
       <update id="updateWopenid" parameterType="String">
       UPDATE linlihouse.t_user SET wopen_id=#{wopenid} WHERE mob_phone=#{mobphone};
       </update>
       <!--根据qopenid,添加手机号码-->
        <update id="updateqphone">
       UPDATE linlihouse.t_user SET mob_phone=#{mobPhone} WHERE qopen_id=#{qopenId}
       </update>
       <!--根据wopenid,添加手机号码-->
       <update id="updatewphone">
       UPDATE linlihouse.t_user SET mob_phone=#{mobPhone} WHERE wopen_id=#{wopenId}
       </update>
</mapper>