<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.sys.CommunityInfoMapper">
    <!--当前表列-->
    <sql id="Base_Column_List" >
    id, name, address, g_location, b_location, postcode, pcode, pname, city_code, city_name,
    adcode, adname, entr_location, is_valid, remark, property_name, property_id
  </sql>
    <!--where条件-->
    <sql id="whereCondition">
        1=1
        <if test="id_where != null" >
            AND id = #{id_where}
        </if>
        <if test="propertyId_where != null" >
            AND property_id  LIKE CONCAT('%',#{propertyId_where},'%')
        </if>
        <if test="name_where != null" >
            AND name  LIKE CONCAT('%',#{name_where},'%')
        </if>
        <if test="isValid_where != null" >
            AND  is_valid = #{isValid_where}
        </if>
    </sql>

    <!--小区检索-->
    <select  id="findCommunityInfos" resultType="PropertyCompanyEntity" parameterType="ParamDto" >
        select
        <include refid="Base_Column_List" />
        from t_propertyCompany
        <where>
            <include refid="whereCondition"/>
        </where>
    </select>
</mapper>