<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.sys.HousingestateMapper">
    <resultMap id="BaseResultMap" type="com.commons.entity.sys.HousingestateEntity" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="provincesId" property="provincesId" jdbcType="BIGINT" />
        <result column="propertyId" property="propertyId" jdbcType="BIGINT" />
        <result column="propertyName" property="propertyName" jdbcType="VARCHAR" />
        <result column="provincesName" property="provincesName" jdbcType="VARCHAR" />
        <result column="cityId" property="cityId" jdbcType="BIGINT" />
        <result column="cityName" property="cityName" jdbcType="VARCHAR" />
        <result column="areasId" property="areasId" jdbcType="BIGINT" />
        <result column="areasName" property="areasName" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="baiLongitude" property="baiLongitude" jdbcType="VARCHAR" />
        <result column="baiLatitude" property="baiLatitude" jdbcType="VARCHAR" />
        <result column="gorLongitude" property="gorLongitude" jdbcType="VARCHAR" />
        <result column="gorLatitude" property="gorLatitude" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="passwords" property="passwords" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="isValid" property="isValid" jdbcType="INTEGER" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
        <result column="updater" property="updater" jdbcType="VARCHAR" />
        <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="contacts" property="contacts" jdbcType="VARCHAR" />
        <result column="buildings" property="buildings" jdbcType="BIGINT" />
    </resultMap>
    <!--当前表列-->
    <sql id="Base_Column_List" >
     a.id, a.propertyId,c.propertyName,a.provincesId, a.provincesName, a.cityId, a.cityName, a.areasId, a.areasName, a.name, a.baiLongitude,
    a.baiLatitude, a.gorLongitude, a.gorLatitude, a.account, a.passwords, a.userId, a.isValid, a.creater,
    a.createDate, a.updater, a.updateDate,a.phone,a.contacts,ifnull(b.counts,0) buildings
  </sql>
    <!--where条件-->
    <sql id="whereCondition">
        1=1
        <if test="id_where != null" >
            AND a.id = #{id_where}
        </if>
        <if test="areasId_where != null" >
            AND  a.areasId = #{areasId_where}
        </if>
        <if test="name_where != null" >
            AND a.name  LIKE CONCAT('%',#{name_where},'%')
        </if>
        <if test="propertyId_where != null" >
            AND  a.propertyId = #{propertyId_where}
        </if>
        <if test="isValid_where != null" >
            AND  a.isValid = #{isValid_where}
        </if>
    </sql>

    <!--小区检索-->
    <select  id="findHousingestate" resultMap="BaseResultMap" parameterType="ParamDto" >
        select
        <include refid="Base_Column_List" />
        from housingestate a left JOIN
        (SELECT count(id) counts,housingEstateId from building GROUP BY housingEstateId) b on a.id=b.housingEstateId
        left JOIN
        propertycompany c on a.propertyId =c.id
        <where>
            <include refid="whereCondition"/>
        </where>
    </select>
    <update id="updateHousingestateByParam" parameterType="ParamDto" >
        update housingestate a
        <set >
            <if test="propertyName != null" >
                a.propertyName = #{propertyName,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <include refid="whereCondition"/>
        </where>
    </update>
</mapper>