<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.sys.MemberToRoomMapper">
    <resultMap id="BaseResultMap" type="com.commons.entity.sys.MemberToRoomEntity">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="roomId" jdbcType="BIGINT" property="roomId" />
        <result column="memberId" jdbcType="BIGINT" property="memberId" />
    </resultMap>
    <!--当前表列-->
    <sql id="Base_Column_List" >
     id, roomId, memberId
  </sql>
</mapper>