<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.sys.SysMenuMapper">
    <!--当前表列-->
    <sql id="Base_Column_List" >
      id, p_id, name, href, icon, cteate_time, create_by, sort, status, remark
    </sql>
</mapper>