<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.sys.SysUserMapper">
    <!--当前表列-->
    <sql id="Base_Column_List" >
        id, name, nick_name, birthday, sex, img_url, pwd, identity_code, mob_phone, address,
        ost_code, email, create_time, type, status, remark
    </sql>
    <!--where条件-->
    <sql id="whereCondition">
        1=1
        <if test="name_where != null" >
            AND name = #{name_where_where}
        </if>
        <if test="birthday_where != null" >
            AND  birthday = #{birthday_where}
        </if>
        <if test="sex_where != null" >
            AND sex = #{sex_where}
        </if>
        <if test="pwd_where != null" >
            AND  pwd = #{pwd_where}
        </if>
        <if test="identityCode_where != null" >
            AND  identity_code = #{identityCode_where}
        </if>
        <if test="mobPhone_where != null" >
            AND mob_phone = #{mobPhone_where}
        </if>
        <if test="address_where != null" >
            AND address = #{address_where}
        </if>
        <if test="ostCode_where != null" >
            AND  ost_code = #{ostCode_where}
        </if>
        <if test="email_where != null" >
            AND  email = #{email_where}
        </if>

        <if test="createTime_where != null" >
            AND  create_time = #{createTime_where,jdbcType=TIMESTAMP}
        </if>
        <if test="status_where != null" >
            AND  status = #{status_where,jdbcType=BIT}
        </if>
        <if test="remark_where != null" >
            AND  remark = #{remark_where}
        </if>
        <if test="type_where != null" >
            AND type = #{type_where,jdbcType=BIGINT}
        </if>
    </sql>

    <!--根据where条件查询系统用户信息-->
    <select  id="getSysUser" resultType="SysUserEntity" parameterType="ParamDto" >
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            <include refid="whereCondition"/>
        </where>
    </select>
    <!--登录-->
    <select  id="login" resultType="SysUserEntity" parameterType="ParamDto" >
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <where>
            1=1
            and (name=#{name_where} or mob_phone=#{name_where} )
             and pwd=#{pwd_where}
            and status=#{status}
        </where>
    </select>
</mapper>