!DOCTYPE html>
<html lang="zh-CN"
      xmlns="ht tp://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>文件上传</title>
</head>
<body>
<h2>已有文件：</h2>

<hr/>
<form th:action="@{/index}" method="post" enctype="multipart/form-data">
    用户名：<input name="username" type="text"/>
    <br/>
    电话号码：<input name="phonenumber" type="text"/>
    <br/>
    小区：<input name="community" type="text"/>
    <br/>
    房号：<input name="housenumber" type="text"/>
    <br/>
    门类型：<input name="doortype" type="text"/>
    <br/>
    头像：<input name="face" type="file"/>
    <br/>
    <button type="submit">确定上传</button>
</form>
</body>
</html>