<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.AskQuestionsMapper">

    <!-- 查询提问和评论数 -->
    <select id="queryAsk" resultType="com.commons.dto.anDto.AskQuestionsDto" parameterType="ParamDto">
        SELECT t.id,t.community_id,t.title,t.content,t.user_id,t.type,t.status,t.browse_num,t.publish_time,t.img_url,COUNT( c.questions_id ) total FROM
        (
        SELECT
        q.id,q.community_id,q.title,q.content,q.user_id,q.type,q.status,q.browse_num,q.publish_time,GROUP_CONCAT(i.img_url) img_url
        FROM
        (SELECT * from t_questions where community_id = #{communityId} and status = #{status}) q
        left join
        (SELECT * from t_questions_img where type = #{status}) i on i.questions_id = q.id
        GROUP BY q.id,q.community_id,q.title,q.content,q.user_id,q.type,q.status,q.browse_num,q.publish_time
        ) t
        left join
        (select questions_id FROM t_questions_comment where status = #{status}) c on c.questions_id = t.id
        <where>
            <if test="id != null">
                and t.id = #{id}
            </if>
            <if test="userId != null">
                and t.user_id = #{userId}
            </if>
            <if test="type != null">
                and t.type LIKE CONCAT('%',#{type},'%')
            </if>
            <if test="title != null">
                and t.title LIKE CONCAT('%',#{title},'%')
            </if>
        </where>
        GROUP BY t.id,t.community_id,t.title,t.content,t.user_id,t.type,t.status,t.browse_num,t.publish_time,t.img_url
        ORDER BY
        <if test="popular">
            t.browse_num DESC,
        </if>
        t.publish_time DESC
    </select>

    <!-- 问题详情评论 -->
    <select id="queryComment" resultType="com.commons.entity.QuestionsCommentEntity" parameterType="ParamDto">
        SELECT
            *
        FROM
            t_questions_comment
        WHERE
            questions_id = #{questionsId}
            AND STATUS = #{status}
        ORDER BY
            comment_time DESC
    </select>

</mapper>