<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.BannerMapper">

    <!-- 查询首页小区公告信息(标题显示)-->
    <select id="queryBannerList" resultType="com.commons.dto.anDto.BannerDto" parameterType="ParamDto">
        SELECT
            b.id,
            b.community_id,
            b.start_time,
            b.end_time,
            b.link_url,
            b.STATUS,
            GROUP_CONCAT( i.img_url ) img_url
        FROM
            t_banner b
            LEFT JOIN t_banner_img i ON b.id = i.banner_id
        WHERE
            b.community_id = #{communityId}
            AND b.STATUS = #{status}
            AND ( SYSDATE( ) BETWEEN b.start_time AND b.end_time )
        GROUP BY
            b.id,
            b.community_id,
            b.start_time,
            b.end_time,
            b.link_url,
            b.STATUS
    </select>

</mapper>