<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.ChatTypeMapper">

    <!-- 查询类型列表 -->
    <select id="queryType" resultType="com.commons.entity.ChatTypeEntity" parameterType="ParamDto">
        SELECT
        c.*,
        i.img_url
        FROM
        t_chat_type c
        LEFT JOIN ( SELECT type_id, img_url FROM t_chat_type_img WHERE type = '0' ) i ON c.id = i.type_id
        <where>
            <if test="status != null">
                c.STATUS = #{status}
            </if>
        </where>
        ORDER BY
        c.id
    </select>

    <!-- 查询该类型下的问题发布人总数 - 去重 -->
    <select id="queryTypeCount" resultType="Integer" parameterType="ParamDto">
        SELECT
            count( DISTINCT user_id )
        FROM
            t_questions
        <where>
            <if test="communityId != null">
                and community_id = #{communityId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type LIKE CONCAT('%',#{type},'%')
            </if>
        </where>
    </select>

</mapper>