<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.CommunityMapper">
    <!--查看评论-->
    <!--<select id="issuedKey" parameterType="ParamDto" resultType="list">-->
    <select id="queryLocation" resultType="java.lang.String">
        SELECT t.g_location FROM linlihouse.t_community_info t
    </select>

    <update id="bindCommuntity" parameterType="ParamDto">
    UPDATE t_user tr SET community_id =#{communtyId} WHERE id=#{id}
    </update>

    <!--小区检索-->
    <select id="query" parameterType="ParamDto" resultType="com.commons.entity.CommunityEntity">
    SELECT * FROM t_community_info WHERE name LIKE CONCAT(CONCAT('%', #{name}), '%')
    </select>
</mapper>