<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.CommentMapper">
    <!--查看评论-->
    <select id="queryComment" parameterType="ParamDto" resultType="com.commons.entity.CommentEntity">
       SELECT
      ta.user_name,
      ta.comment_time,
      ta.image_url,
      ta.content
      FROM t_activity_comment ta
      WHERE activity_id =#{activityId} AND status = '0'
    </select>
</mapper>