<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.NoticeCommentMapper">

    <!-- 小区公告评论列表 -->
    <select id="queryNoticeCommentList" resultType="com.commons.entity.NoticeCommentEntity" parameterType="ParamDto">
        SELECT
        *
        FROM
        t_notice_comment
        WHERE
        notice_id = #{noticeId}
        AND STATUS = #{status}
        ORDER BY
        comment_time DESC
    </select>

</mapper>