<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.mapper.NoticeMapper">

    <!-- 查询首页小区公告信息(标题显示)-->
    <select id="queryNoticeTitle" resultType="com.commons.entity.NoticeEntity" parameterType="ParamDto">
        SELECT
            *
        FROM
            t_notice
        WHERE
            STATUS = #{status}
            AND community_id = #{communityId}
            and (SYSDATE() between start_time and end_time)
        ORDER BY type ASC,publish_time DESC
    </select>

    <!-- 小区公告列表 -->
    <select id="queryNoticeList" resultType="com.commons.dto.anDto.NoticeDto" parameterType="ParamDto">
        select t.id,t.community_id,t.title,t.small_title,t.content,t.issuer,t.type,t.status,t.browse_num,t.publish_time,t.img_url,count(c.notice_id) total from
        (
            select n.id,n.community_id,n.title,n.small_title,n.content,n.issuer,n.type,n.status,n.browse_num,n.publish_time,GROUP_CONCAT(i.img_url) img_url from
            (
                SELECT * FROM t_notice
                WHERE
                    STATUS = #{status}
                    AND community_id = #{communityId}
                    AND ( SYSDATE() BETWEEN start_time AND end_time )
            ) n left join (select * from t_notice_img where type = #{type}) i on n.id = i.notice_id
            GROUP BY n.id,n.community_id,n.title,n.small_title,n.content,n.issuer,n.type,n.status,n.browse_num,n.publish_time,n.start_time,n.end_time
        ) t left join
        (select notice_id from t_notice_comment where status = #{status}) c on t.id = c.notice_id
        WHERE 1=1
        <if test="id != null">
          and t.id = #{id}
        </if>
        GROUP BY t.id,t.community_id,t.title,t.small_title,t.content,t.issuer,t.type,t.status,t.browse_num,t.publish_time,t.img_url
        ORDER BY t.type ASC,t.publish_time DESC
    </select>

</mapper>